@media (max-width: 1024px) {
  .ext-css {
    margin: 0%;
    margin-top: 13px;
  }
}

@media (max-width: 600px) {
  .ext-brand {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .ext-brand-title {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .ext-sign {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 485px) {
  .ext-call {
    flex-direction: column;
    gap: 10px;
  }
}
